form label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
    padding-inline-start: .5rem;
}
dd {
    margin-bottom: 1rem;
    margin-inline-start: 0;
}
.form-grid-1 {
    background-color: rgb(245,245,245);
}