<section class="grid grid-nogutter">
    
</section>

<form (ngSubmit)="onSubmit()">
<section class="grid grid-nogutter sm1" style="display: none;" hidden="hidden">
    <div class="col-6 border border-500">
        <div class="grid grid-nogutter">
            <div class="col-3"><label>Barcode:</label></div>
            <div class="col-9 flex align-items-center">
                <p-select [options]="options" class=""/>
                <input pInputText class="flex-1" />
            </div>

            <div class="col-3">Division/Department Name</div>
            <div class="col-9">
                <p-select [options]="options" class="w-11"/>
            </div>

            <!-- readonly -->
            <div class="col-3">Division/Department Number</div>
            <div class="col-9"> <input pInputText class="w-11" /> </div>
            <div class="col-3">Record Series Number</div>
            <div class="col-9"> <input pInputText class="w-11" /> </div>
            <!-- readonly -->

            <div class="col-3"><label>Record Type</label></div>
            <div class="col-9">
                <p-select [options]="options" class="w-11 md:w-56" />
            </div>
        </div> 
    </div> <!-- LEFT -->

    <div class="col-6">
        <div class="grid grid-nogutter">
            <div class="col-3"><label>Box Number</label></div>
            <div class="col-9">
                <p-select [options]="options" />
                <input />
            </div>
            <div class="col-3"><label>Borough/Bureau</label></div>
            <div class="col-9">
                <input pInputText readonly />
            </div>
            <div class="col-3"><label>Box Date Range</label></div>
            <div class="col-9">
                <p-select #dateRangleOptionsRef [options]="dateRangeOptions" />

                @if( dateRangleOptionsRef.value == 'dates') {
                    <div class="inline-block">
                        From:<input type="date" /> To:<input type="date" />
                    </div>
                }
                @if( dateRangleOptionsRef.value == 'years') {
                    <div class="inline-block">
                        From: <input type="number" min="1980" max="2100" inputmode="numeric" />
                        To: <input id="yrToId" type="number" min="1980" max="2100" inputmode="numeric" />
                        <div class="yrToErrMsg"></div>
                    </div>
                }
            </div>
        </div>
    </div> <!-- RIGHT -->

    <div class="col-12">
        <label>Description</label>
        <textarea rows="5" style="width:90%; margin:0 auto;"></textarea>
    </div>
</section>


<section class="grid grid-nogutter mt-2">
    <app-sarrs-entryform-record-details />
</section>

<section>
    <app-sarrs-entryform-details-of-record />
</section>
</form>