
<section class="grid">
    <header class="col-12">
        User Mode: <p-selectbutton 
            [options]="usermode['options']" [(ngModel)]="usermode['selected']"
            optionLabel="label" optionValue="value" aria-labelledby="basic"
            (onOptionClick)="usermodeSelection($event)"
            />
    </header>

    <aside class="col-fixed border-1 border-orange-500" style="width:15rem">
        <ul class="menupanel-menu">
            @for( item of menuItems['user']; track item.id ) {
                <li>
                    <div (click)="onMenuClick(item)"><span class="{{item.icon}}"></span> {{item['label']}}</div>
                </li>
            }
        </ul>
        @if( usermode['selected'] == 'admin' ) {
            <ul class="menupanel-menu border-1 border-top-1 border-primary">
                @for( item of menuItems['admin']; track item?.['id'] ) {
                    <li>
                        <div><span class="{{item.icon}}"></span> {{item['label']}}</div>
                    </li>
                }
            </ul>
        }
    </aside>

    <div class="col">
        <ng-container *ngComponentOutlet="activeMenuItem" />
    </div>
</section>
