<section class="step-wrapper">
    <div>[Header]</div>

    <div>[stepper]</div>

    <div class="fields">
        <div class="field">
            <label>Full Name</label>
            <input type="text" value="" name="fullName">
        </div>
    </div>

    <div class="fields">
        <div class="field">
            <label>E-Mail</label>
            <input type="text" value="" name="email">
        </div>
    </div>

    <div>
        <a [routerLink]="['/steps/step-2']">Next</a>
    </div>
</section>
