<form action="" method="post" >
    <section class="grid grid-nogutter sm1 mt-3 mb-3 border-1 border-round">
        <div class="col-6 border border-500"> <!-- LEFT -->
            <dl class="form-1-list">
                <dt><label>Barcode</label></dt>
                <dd>
                    <div class="grid grid-nogutter">
                        <div class="col-fixed">
                            <p-select [options]="options" class="w-11 md:w-56" />
                        </div>
                        <div class="col-auto">
                            <input pInputText type="text" name="barcode" id="barcode" required>
                        </div>
                    </div>
                </dd>

                <dt><label>Division/Department Name &amp; Number</label></dt>
                <dd>
                    <p-select [options]="options" class="w-11 md:w-56" readonly />
                    <input pInputText type="text" name="divisionDepartmentNumber" id="divisionDepartmentNumber" readonly class="w-11">
                </dd>

                <dt><label>Record Series Number</label></dt>
                <dd>
                    <input pInputText type="text" name="recordSeriesNumber" id="recordSeriesNumber" readonly class="w-11">
                </dd>
            </dl>
        </div>

        <div class="col-6 border border-500 border-1"> <!-- RIGHT -->
            <dl class="form-1-list">
                <dt><label>Box Date Range</label></dt>
                <dd>
                    <div class="grid grid-nogutter">
                        <div class="col-fixed">
                            <p-select #boxDateRangeRef [options]="boxDateRangeOptions" />
                        </div>
                        <div class="col-auto">
                            @if( boxDateRangeRef.value == 'dates' ) {
                                <div id="boxDateRangeDate">
                                    <div class="inline-block w-full">
                                        <div> <span style="display:inline-block; width:3rem;">From:</span> <p-datepicker></p-datepicker> </div>
                                        <div> <span style="display:inline-block; width:3rem;">To:</span> <p-datepicker /> </div>
                                    </div>
                                </div>
                            }
                            @if( boxDateRangeRef.value == 'years' ) {
                                <div id="boxDateRangeYear">
                                    <div class="inline-block w-full">
                                        <div> <span style="display:inline-block; width:3rem;">From:</span> <input pInputText  inputmode="numeric" /> </div>
                                        <div> <span style="display:inline-block; width:3rem;">To:</span> <input pInputText inputmode="numeric" /> </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </dd>
            </dl>
        </div>

        <div class="col-12">
            <label>Description</label>
            <textarea pInputTextarea rows="5" name="notes" id="notes" placeholder="Notes" class="w-full border-round"></textarea>
        </div>

        <div class="col-12 border-top border-500 mt-2">
            <input type="submit" value="SubmitX">
        </div>
    </section>
</form>
